.App {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  /* background: url(./images/syed-ali-74JeU2jfnfk-unsplash.jpg); */
  background: #14213d;
  background-size: cover;
}

body, html {
  /* height: 100vh; */
}




/*  */
/* NAVBAR */
/*  */

.navbar {
  /* background:  #be4f0c; */
  height: 8%;
}

.nameLogo {
  display: flex;
  font-size: medium;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 1.5px;
  color: #fca311;
}

a {
  color: #fca311;
  margin-right: 20px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: larger;
  letter-spacing: 2px;
}

.links:hover {
  /* height: 10%; */
  /* transition: margin-bottom 2s ease-in-out; */
  /* transform: scale(2); */
  /* animation: 3s ease-in-out linear; */
}



/*  */
/* PORTFOLIO */
/*  */



/*  */
/* Contact */
/*  */
